<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="height: 100vh; display: flex; align-items: center ; align-content: center ; color: red;">
        <h3>404</h3>
        <h3>Not Found</h3>
    </div>
</body>
</html>